<form action="/publishDynamic" method="post" class="form-horizontal" enctype="multipart/form-data">
    <div class="form-group">
        <label for="dynamicText" class="col-sm-2 control-label">动态内容:</label>
        <div class="col-sm-6">
            <textarea class="form-control" rows="6" id="dynamicText" name="dynamicText"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="dynamicImg" class="col-sm-2 control-label">插入图片:</label>
        <div class="col-sm-6">
            <input type="file" name="dynamicImg" id="dynamicImg" class="form-control" placeholder="选择图片">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">发布动态</button>
        </div>
    </div>
</form>
<h3>最新动态</h3>
{{#each dynamicNew.following}} 
    {{#if dynamic}}
    <div class="dynamicItem">
        <div class="dynamicBody">
            <img class="dynamicImg img-responsive" src="{{dynamic.[0].imgPath}}" alt="imgPath">
            <div class="dynamicBodyContent">{{dynamic.[0].content}}</div>
        </div>
        <div class="dynamicFooter clearfix">
            <div class="dynamicItem-info pull-left">
                    <span class="glyphicon glyphicon-user"></span><a href="/profile/{{_id}}">{{nickname}}</a>
            </div>
            <div class="dynamicItem-info pull-left">
                <span class="glyphicon glyphicon-time"></span><span>{{formatDate dynamic.[0].timeStamp}}</span>
            </div>
        </div>
    </div>
    {{/if}} 
{{/each}}
<h3>热门话题</h3>
{{#each TopicHot}}
        <div class="topicItem">
            <div class="topicHeader">
                <h3><a href="/topic/{{id}}" class="text-info">{{title}}</a></h3>
            </div>
            <div class="topicBody">
                <div class="topicBodyContent">{{content}}</div>
            </div>
            <div class="topicFooter clearfix">
                <div class="topicItem-info pull-left">
                    <span class="glyphicon glyphicon-user"></span><a href="/profile/{{leader._id}}">{{leader.nickname}}</a>
                </div>
                <div class="topicItem-info pull-left">
                    <span class="glyphicon glyphicon-time"></span><span>{{formatDate timeStamp}}</span>
                </div>
            </div>
        </div>
{{/each}}
<h3>热门活动</h3>
{{#each activityHot}}
    <div class="activityitem">
        <div class="activityHeader clearfix">
            <h3 class="pull-left">{{title}}</h3>
            <div class="pull-right">
                {{#if isFollowed}}
                <button class="disabled btn btn-sm  btn-default">已参与</button> 
                {{else}}
                <button data-activity="{{_id}}"  class="joinBtn btn btn-sm btn-primary">参与</button> 
                {{/if}}
            </div>
        </div>
        <div class="activityBody">
            <div class="activityBodyContent">{{content}} </div>
        </div>
        <div class="activityFooter clearfix">
            <div class="activityItem-info pull-left">
                <span class="glyphicon glyphicon-user"></span><a href="/profile/{{leader._id}}">{{leader.nickname}}</a>
            </div>
            <div class="activityItem-info pull-left">
                <span class="glyphicon glyphicon glyphicon-calendar"></span><span>{{formatDate startTime}}到{{formatDate stopTime}}</span>
            </div>
            <div class="activityItem-info pull-left">
                <span class="glyphicon glyphicon-globe"></span><span>{{place}}</span>
            </div>
            <div class="activityItem-info pull-left">
                <span class="glyphicon glyphicon-thumbs-up"></span><span>{{followersNum}}</span>
            </div>
        </div>
    </div>
{{/each}}
