{{#if data.mailbox}}
{{#each data.mailbox}}
<div class="row mailItem clearfix">
    <div class="mailItem-left">
        <img src="{{from.avatar.path}}" class="avatar-me img-responsive img-rounded" alt="Responsive image">
        <a href="/profile/{{from._id}}">{{from.nickname}}</a>
    </div>
    <div class="mailItem-right">
        <div class="arrow"></div>
        <p>
            {{text}}
        </p>
    </div>
</div>
{{/each}}
{{else}}
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p>没有消息哦</p>
    </div>
{{/if}}